.my-basket-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.my-basket-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.my-basket-list-item {
  background-color: #94c20a;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 75%;
  position: relative;
}

.basket-order-number {
  position: absolute;
  background-color: #ff0303;
  right: 0;
  top: 0;
  width: 10%;
  border-radius: 0px 5px 5px 0px;
}

.basket-total {
  margin-top: 5vh;
}

.confirm {
  background-color: #94c20a;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  width: 80px;
  color: white;
}

.confirm:hover {
  cursor: pointer;
  background-color: #94c20ace;
}

.empty-basket {
  background-color: #ff0303;
  color: black;
  border: none;
  border-radius: 5px;
}
