:root {
  /* --primary-color: rgb(206, 159, 18); */
  font-family: "Noto Sans KR", sans-serif;
}

.foot-bar {
  /* background-color: var(--primary-color); */
  background-color: #0390458b;

  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.zoo-icon {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
}

.nav-buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 50%;
  height: 100%;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3vw;
  width: 50vw;
  height: 100%;
  background-color: #46ae53;
  align-self: flex-end;
}

.about-search-learn {
  width: 13vw;
  height: 5vh;
  border-style: none;
  border-radius: 5px;
  background-color: #94c20a;
  color: white;
  text-align: center;
}
.about-search-learn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
