:root {
  /* --primary-color: rgb(206, 159, 18); */
  font-family: "Noto Sans KR", sans-serif;
}

.foot-bar {
  /* background-color: var(--primary-color); */
  background-color: #039045;

  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.zoo-icon {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
}

.search {
  height: 8.5vh;
  width: 15vw;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8%;
  color: black;
  font-size: 3.5vw;
}

.search:hover {
  background-color: #94c20a;
}

.nav-buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 50%;
  height: 100%;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3vw;
  width: 50vw;
  height: 100%;
  background-color: #46ae53;
  align-self: flex-end;
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #d79b52 50%, #46ae53);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;

  justify-content: center;
  line-height: 1em;

  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}
