img {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  border: 4px #94c20a solid;
  margin-top: 3px;
}

/* h4 {
  margin-top: -0.5vh;
  font-size: 2.5vw;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
} */
