.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.profile-image {
  border-radius: 50%;
  border: 4px #94c20a solid;
  height: 70%;
}

/* h4 {
  margin-top: -0.5vh;
  font-size: 2.5vw;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
} */
