.basket-container {
  position: relative;
  height: 44px;
  width: 44px;
}

.basket-number {
  background-color: #ff0303;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8vh;
  -webkit-text-stroke-width: 0.11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 100px;
  border: 3px solid black;
  color: black;
}
