.home-page-container {
  background-color: #efefef;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-align: center;
}

.main-title {
  margin-top: 0;
  max-width: 40%;
}
