.about-page-container {
  height: 80vh;
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 600px) {
  .about-page-container {
    height: 70vh;
  }
}

.about-scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  max-width: 63%;
}

.about-me-container {
  max-width: 90%;
  text-align: center;
}

.about-page-container img {
  border-radius: 50%;
}
