.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-container {
  height: 60vh;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.orders-scroll-container {
  height: 80vh;
  width: 100%;
}

.order-item {
  background-color: #039045;
  color: black;
  width: 60vw;
  height: 7vh;
  border-radius: 5px 5px 0px 0px;
  margin-top: 5vw;
  font-size: 3.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-item:hover {
  cursor: pointer;
}

.order-item-line {
  display: flex;
  justify-content: center;
}

.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  background-color: #94c20a;
  border-radius: 0px 0px 5px 5px;
  width: 60vw;
  font-size: 2.6vw;
}

.not-open {
  display: none;
}
