.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-item {
  background-color: #4996e9;
  width: 60vw;
  height: 10vh;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: -4vw;
  margin-top: 5vw;
  font-size: 4.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-item:hover {
  /* transform: scale(110%);
  transition: 3s; */
  cursor: pointer;
}

.open {
  display: block;
  margin-top: 0;
  background-color: #94c20a;
}

.not-open {
  display: none;
}
