@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

:root {
  font-family: "Noto Sans KR", sans-serif;
}

.nav-bar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #039045;
}

.logo {
  height: 9vh;
  width: 9vh;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 9vh;
  display: flex;
  align-items: center;
  color: #efefef;
  text-decoration: none;

  margin-right: 10px;
}
