.search-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 180px);
  grid-template-rows: repeat(2, 135px);
  grid-column-gap: 1vw;
  grid-row-gap: 80px;
  background-color: #efefef;

  height: 70vh;
}
.animal-container {
  background-color: white;
  height: 30vh;
  width: 45vw;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px #eeeeee solid;
  margin-top: -28px;
}

.animal-title {
  margin-bottom: -12vw;
  margin-top: -7vw;
}

.animal-button {
  background-color: #039045;
  width: 33.333%;
  margin-left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 0px 2px;
  font-size: 2vh;
}

.animal-button:hover {
  cursor: pointer;
  background-color: #039045c0;
}

.animal-button-mid {
  background-color: black;
  width: 33.334%;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 0px 0px;
  font-size: 2vh;
  margin-left: 0;
}

.animal-button-mid:hover {
  cursor: pointer;
  background-color: #000000c0;
}

.animal-button-end {
  background-color: #fd8700;
  width: 33.333%;
  margin-bottom: 0;
  margin-left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0px 0px 2px 0px;
  font-size: 2vh;
}

.animal-button-end:hover {
  cursor: pointer;
  background-color: #fd8700c0;
}

.elephant {
  margin-top: 25px;
  height: 100px;
  width: 100px;
}

.kangaroo {
  margin-top: 25px;
  height: 100px;
  width: 100px;
}

.orangutan {
  margin-top: 25px;
  height: 100px;
  width: 100px;
}

.leopard {
  margin-top: 25px;
  height: 100px;
  width: 100px;
}
