.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.search-container {
  overflow-y: auto;

  width: 70vw;
  height: 75vh;
}

.animal-container {
  background-color: white;
  height: 40vh;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

.animal-title {
  margin-top: 0;
  background-color: #94c20a;
  border-radius: 5px 5px 0px 0px;
  font-size: 2.5vw;
  color: white;
}

.image-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.elephant-text {
  font-size: 13px;

  width: 50%;
}
.elephant {
  width: 20%;
}

.animal-button {
  background-color: #d87d14;
  width: 33.34%;
  margin-left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 0px 5px;
  font-size: 90%;
  border: none;
  height: 15%;
  font-size: 2vw;
}

.animal-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.animal-button-mid {
  background-color: rgb(192, 185, 185);
  width: 33.34%;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 33.3333%;
  border-radius: 0px 0px 0px 0px;
  font-size: 90%;
  margin-left: 0;
  border: none;
  height: 15%;
  font-size: 2vw;
}

.animal-button-mid:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.animal-button-end {
  background-color: #bd8e0c;
  width: 33.34%;
  margin-bottom: 0;
  margin-left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0px 0px 5px 0px;
  font-size: 90%;
  border: none;
  height: 15%;
  font-size: 2vw;
}

.animal-button-end:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.kangaroo {
  width: 20%;
}

.orangutan {
  width: 20%;
}

.leopard {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .search-container {
    height: 70vh;
  }

  .animal-container {
    height: 20vh;
  }

  .animal-title {
    font-size: 3vw;
  }
  .elephant-text {
    font-size: 2.6vw;
  }

  .elephant {
    width: 30%;
  }
  .kangaroo {
    width: 30%;
  }

  .orangutan {
    width: 30%;
  }

  .leopard {
    width: 30%;
  }
}
